/* General Styles */
body {
  background-color: #fdf4da;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  /* height: 100vh;
  width: 100vw; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  overflow-x: hidden;

  font-family: "Sanchez", serif;
}

.font-satisfy {
  font-family: "Satisfy", cursive;
}


.dashed {
  margin: 0.5rem;
  width: 80%;
  max-width: 450px;
  padding: 1rem;
  border: #333 dashed 0.3rem;
}

.container {
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 auto;
}

h1 {
  color: #bf2e32;
  font-size: 2rem;
}

p {
  color: #333;
}

.hint {
  margin-top: 10px;
  color: #333;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

.congrats {
  font-size: 18px;
  color: #333;
}

.congrats img {
  width: 100%;
}

.gift-location {
  background-color: #bf2e32;
  color: white;
  padding: 10px;
  border-radius: 0.5rem;
  margin-top: 20px;
}

.gift-image {
  margin: 1.25rem auto;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 7px 1px #777;
}

footer {
  margin: 4rem auto 1rem;
  font-size: 0.8rem;
}